[Unit]
Description=Bring up can0 interface
After=sys-subsystem-net-devices-can0.device
Requires=sys-subsystem-net-devices-can0.device

[Service]
Type=oneshot
ExecStart=/sbin/ip link set can0 up type can bitrate 250000
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
