ACTION=="add", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="TRIPRESET",  RUN+="/usr/local/bin/emotors-tripreset.sh"
ACTION=="add", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="TOTALRESET", RUN+="/usr/local/bin/emotors-totalreset.sh"
ACTION=="add", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="LOGSDRIVE",  RUN+="/usr/local/bin/emotors-logsdrive.sh"
